<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ChapterMapper">
    <!--public int getFirstChapterIdOf(int bookID);
    public boolean add(Chapter chapter);
    public boolean alter(Chapter chapter);
    public boolean remove(Chapter chapter);
    public boolean removeByChapterId(int chapterId);
    public boolean removeByBookId(int bookId);
    public Chapter getChapterById(int chapterId)
    public String  getChapterContent(String content);-->
    <select id="getFirstChapterIdOf" parameterType="int" resultType="int">
        SELECT chapter_id FROM chapter WHERE chapter_book_id=#{_parameter}
        AND chapter_num=1

    </select>
    <insert id="add" parameterType="Chapter">
        INSERT into chapter(chapter_num,chapter_book_id,chapter_name,chapter_word_num,chapter_click_num,chapter_price,chapter_refresh_time,chapter_statu,chapter_content,chapter_addition)
         VALUES(#{chapterNum},#{chapterBookId},"#{chapterName}",#{chapterWordNum},#{chapterClickNum},#{chapterPrice},"#{chapterRefreshTime}",#{chapterStatu},"#{chapterContent}",#{chapterAddition})
    </insert>
    <update id="alter" parameterType="Chapter">
        UPDATE chapter SET chapter_num=#{chapterNum},chapter_book_id=#{chapterBookId},chapter_name="#{chapterName}",chapter_word_num=#{chapterWordNum},chapter_click_num=#{chapterClickNum},chapter_price=#{chapterPrice},chapter_refresh_time="#{chapterRefreshTime}",chapter_statu=#{chapterStatu},chapter_content="#{chapterContent}",chapter_addition=#{chapterAddition}
        WHERE chapter_id=#{chapterId}
    </update>
    <delete id="remove" parameterType="Chapter">
        DELETE FROM chapter WHERE chapter_id=#{chapterId}
    </delete>
    <delete id="removeByChapterId" parameterType="int">
        DELETE from chapter WHERE chapter_id=#{_parameter}
    </delete>
    <delete id="removeByBookId" parameterType="int">
        DELETE from chapter WHERE chapter_book_id=#{_parameter}
    </delete>
    <select id="getChapterById" parameterType="int" resultType="Chapter">
        SELECT * FROM chapter WHERE chapter_id=#{_parameter}
    </select>
    <select id="getChapterContent" parameterType="int" resultType="String">
        SELECT chapter_content FROM chapter WHERE chapter_id=#{_parameter}
    </select>
    
    
     <!-- void click(int chapterId); -->
    <update id="getClickNum" parameterType="int">
    	UPDATE chapter SET chapter_click_num = chapter_click_num + 1 WHERE chapter_id = #{_parameter}
    </update>
   <!-- int getClickNum(int chapterId); -->
   <select id="getClickNum" parameterType="int">
   		select chapter_click_num from chapter where chapter_id = #{_parameter}
   </select>
   
    <!--int getChapterIdBy(int bookId,int chapterNum)  -->
    <select id ="getChapterIdBy">
    	select chapter_id from chapter where chapter_book_id = #{_parameter1} and chapter_num = #{_parameter2}
    </select>
</mapper>