<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ChapterAdditionRemarksMapper">
    <!--public int getMaxIndex();
    public boolean add(ChapterAdditionRemarks additionRemarks);
    public boolean alter(ChapterAdditionRemarks additionRemarks);
    public boolean removeByChapterId(int bookChapterId);
    public boolean remove(ChapterAdditionRemarks bookAdditionRemarks);
    public ChapterAdditionRemarks getBookAdditionBy(int bookChapterId);-->
    <select id="getMaxIndex" resultType="int">
        SELECT max(chapter_id) FROM chapter_addition_remarks
	 </select>
    <insert id="add" parameterType="ChapterAdditionRemarks">
        INSERT into chapter_addition_remarks(chapter_id,chapter_character,chapter_img1,chapter_img2,chapter_img3)
               VALUES(#{bookChapterId},"#{bookCharacter}",#{bookImg1},#{bookImg12},#{bookImg3})
    </insert>
    <update id="alter" parameterType="ChapterAdditionRemarks">
        UPDATE chapter_addition_remarks SET chapter_id=#{bookChapterId},chapter_character="#{bookCharacter}",chapter_img1=#{bookImg1},chapter_img2=#{bookImg12},chapter_img3=#{bookImg3}
               WHERE chapter_id=#{bookChapterId}
    </update>
    <delete id="remove" parameterType="ChapterAdditionRemarks">
        DELETE FROM chapter_addition_remarks WHERE chapter_id=#{bookChapterId}
    </delete>
    <delete id="removeByChapterId" parameterType="int">
        DELETE from chapter_addition_remarks WHERE chapter_id=#{_parameter}
    </delete>
    <select id="getBookAdditionBy" parameterType="int" resultType="ChapterAdditionRemarks">
        SELECT * FROM chapter_addition_remarks WHERE chapter_id=#{_parameter}
    </select>
</mapper>