<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ReaderBookRelationMapper">
    <!--public boolean add(ReaderBookRelation readerBookRelation);-->
    <insert  id="add" parameterType="ReaderBookRelation">
        insert into reader_book_relation values(#{readerId}, #{readerBookBookId}, #{readerBookReadingChapterNum}, #{readerBookAddTime})
    </insert >
    <!--public boolean alter(ReaderBookRelation readerBookRelation);-->
    <update id="alter" parameterType="ReaderBookRelation">
        update reader_book_relation set reader_book_reading_chapter_num = #{readerBookReadingChapterNum},
                reader_book_add_time=#{readerBookAddTime} where reader_id = #{readerId}, reader_book_book_id =  #{readerBookBookId}
    </update>
    <!--public boolean remove(ReaderBookRelation readerBookRelation);-->
    <delete id="remove" parameterType="ReaderBookRelation">
        delete from reader_book_relation where reader_id = #{readerId}, reader_book_book_id =  #{readerBookBookId}
    </delete>
    <!--public List<ReaderBookRelation> getByReaderId(int readerId);-->
    <select id="getByReaderId" parameterType="int" resultType="ReaderBookRelation">
        select * from reader_book_relation where reader_id = #{_parameter}
    </select>
    <!--public List<ReaderBookRelation> getByBookId(int bookId);-->
    <select id="getByBookId" parameterType="int" resultType="ReaderBookRelation">
        select * from reader_book_relation where reader_book_book_id = #{_parameter}
    </select>
    <!--public int countBook(int readerId);-->
    <select id="countBook" parameterType="int" resultType="int">
        select COUNT(*) from reader_book_relation where reader_id = #{_parameter}
    </select>
    <!--public int countReader(int bookId);-->
    <select id="countReader" parameterType="int" resultType="int">
        select COUNT(*) from reader_book_relation where  reader_book_book_id = #{_parameter}
    </select>
</mapper>