<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ReaderReadingRecordMapper">
    <!--boolean add(ReaderReadingRecord readerReadingRecord);-->
    <insert id="add" parameterType="ReaderReadingRecord">
        insert into reader_reading_record values(#{recordId},#{readerId},#{bookId},#{chapter_id},#{record_time})
    </insert>

    <!--boolean alter(ReaderReadingRecord readerReadingRecord);-->
    <update id="alter" parameterType="ReaderReadingRecord">
        UPDATE reader_reading_record set reader_id=#{readerId},book_id=#{bookId},chapter_id=#{chapter_id},record_time=#{record_time}
        where reader_id=#{recordId}
    </update>


    <!--boolean remove(int readerId,int bookID);-->
    <delete id="remove" >
        delete from reader_reading_record where reader_id=#{param1} and book_id=#{param2}
    </delete>
    <!--ReaderReadingRecord getByBookIdAndReaderId(int readerId,int bookID);-->
    <select id="getByBookIdAndReaderId" resultType="ReaderReadingRecord">
        select * from reader_reading_record where reader_id=#{param1} and book_id=#{param2}
    </select>
    <!--List<ReaderReadingRecord> getReaderReadingRecord(int readerId);-->
    <select id="getReaderReadingRecord" parameterType="int" resultType="ReaderReadingRecord">
        select * from reader_reading_record where reader_id=#{_parameter}
    </select>
</mapper>