<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.ReportChapterMapper">
<!--boolean add(ReportChapter reportChapter);-->
    <insert id="add" parameterType="ReportChapter">
        insert into report_chapter values(#{reportId},#{chapterId},#{readerId},#{reportTypeId},
        #{reportReason},#{reportTime},#{reportSolution},1,#{reportManagerId})
    </insert>
    <!--boolean alter(ReportChapter reportChapter);-->
    <update id="alter" parameterType="ReportChapter">
        UPDATE report_chapter set report_solution=#{reportSolution},report_statu_id=#{reportStatuId} where report_id=#{reportId}
    </update>
    <!--List<ReportChapter> getBymanagerId(int managerId);-->
    <select id="getBymanagerId" parameterType="int" resultType="ReportChapter">
        select * from report_chapter where report_manager_id=#{_parameter}
    </select>
</mapper>