<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.WriterStatuMapper">
<!-- WriterStatu get(int statuID); -->
	<select id="get" parameterType="int">
		select * from writer_statu where statu_id = #{_parameter}
	</select>
</mapper>