<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.WriterOptionRecordMapper">
<!-- boolean add(WriterOptionRecord writerOptionRecord);
	List<WriterOptionRecord> getByWriterId(int writer); -->
	
	<insert id="add" parameterType="WriterOptionRecord">
		insert into writer_option_record values(#{recordId},#{writerId},#{optionId},#{optionObjectId},now())
	</insert>
	
	<select id="getByWriterId" parameterType="int" resultType="WriterOptionRecord">
		select * from writer_option_record where writer_id = #{_param}
	</select>
</mapper>