<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amazingReader.mapper.WriterIncomeMapper">
<!-- boolean add(WriterIncome writerIncome);
	List<WriterIncome> getByWriterId(int writerId); -->
	
	<select id="getByWriterId" parameterType="int" resultType="WriterIncome">
		select * from writer_income where writer_income
	</select>
	
	<insert id="add" parameterType="WriterIncome">
		insert into writer_income values(#{writerId},#{writerIncomeTypeId},#{writerIncomeTotal},#{writerIncomeDate}，#{readerId} )
	</insert>
</mapper>